-provide(:title, 'Contact')
%h1 Contact
%p
  The #{link_to 'Ruby on Rails Tutorial',"http://railstutorial.org/"}
  Contact Ruby on Rails Tutorial about the sample app at the #{link_to  'contact page',"http://railstutorial.org/contact"}.